# --- Выходные (сгенерированные) файлы документов ---
# Игнорируем все PDF файлы
*.pdf

# Игнорируем сгенерированные ODT файлы, содержащие децимальные номера.
*[0-9]*.odt

# --- Входные файлы данных (BOM) ---
*.txt
*.csv
*.bom
!examples/

# --- Системные файлы Python ---
__pycache__/
*.py[cod]
*$py.class

# --- Файлы конфигурации операционных систем и редакторов ---
.DS_Store
Thumbs.db
.vscode/
.idea/
